pandas~=2.2.2
streamlit~=1.36.0
requests~=2.31.0
beautifulsoup4~=4.12.3
feedparser~=6.0.11
pytz~=2023.3.post1
geopy~=2.4.1
google-cloud-translate==2.0.1
lxml

matplotlib~=3.8.2
selenium~=4.23.1
webdriver-manager
selenium_stealth
undetected-chromedriver
seleniumbase

altair
numpy